# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

tests/arrays/
tests/supportLists/
tests/supportBWT/
tests/supportLCP/
tests/BWTbin
tests/LCP
tests/test2.fasta
bwt_lcp
decode_bwt
decode_lcp
*.debug
.debris
